body {
  width: 100%;
  height: auto;
  background-image: url(./images/imagen-fondo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: unset;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: black;
  padding: 1rem;
  margin: 0;
  width: 100%;
}

.img__logo {
  width: 100px;
  border-radius: 50px;
}
